._dsl_main_01 {
  color: #F5F7FF;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
@media (min-width: 768px) {
  ._dsl_main_01 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  ._dsl_main_01 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}